apiVersion: v1
kind: Service
metadata:
  name: {{ printf "%s-svc" .Values.deployment.name }}
  labels:
    app: {{ printf "%s-svc" .Values.deployment.name }}
    {{- if .Values.monitoring.enabled }}
    monitoring: "true"
    {{- end }}
  {{- if .Values.serviceConfig.serviceExtraMetadata }}
  {{- toYaml .Values.serviceConfig.serviceExtraMetadata | nindent 2 }}
  {{- end }}
spec:
  selector:
    app: {{ .Values.deployment.name }}
  type: {{ .Values.serviceConfig.serviceType | default "ClusterIP" }}
  {{- if eq .Values.serviceConfig.serviceType "LoadBalancer" }}
  {{- if .Values.serviceConfig.loadBalancerIP }}
  loadBalancerIP: {{ .Values.serviceConfig.loadBalancerIP }}
  {{- end }}
  {{- end }}
  ports:
  {{- toYaml .Values.serviceConfig.servicePorts | nindent 2 }}
